<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<title>Admin Dashboard</title>

<script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-gray-100">

<nav class="bg-blue-700 text-white p-5">

<div class="max-w-7xl mx-auto flex justify-between">

<h1 class="text-3xl font-bold">

Admin Dashboard

</h1>

<div>

Welcome,

<b><%= user.name %></b>

|

<a
href="/auth/logout"
class="text-red-300">

Logout

</a>

</div>

</div>

</nav>


<div class="max-w-7xl mx-auto mt-10 grid grid-cols-3 gap-8">

<div class="bg-white rounded shadow p-8 text-center">

<h2 class="text-xl font-bold">

Users

</h2>

<p class="text-5xl mt-5 text-blue-600">

<%= totalUsers %>

</p>

</div>
<hr class="my-10">

<h2 class="text-3xl font-bold mb-6">

All Projects

</h2>

<div
id="projectsContainer"
class="space-y-5">

</div>


<div class="bg-white rounded shadow p-8 text-center">

<h2 class="text-xl font-bold">

Projects

</h2>

<p class="text-5xl mt-5 text-green-600">

<%= totalProjects %>

</p>

</div>


<div class="bg-white rounded shadow p-8 text-center">

<h2 class="text-xl font-bold">

Tasks

</h2>

<p class="text-5xl mt-5 text-red-600">

<%= totalTasks %>

</p>

</div>

<div class="max-w-7xl mx-auto mt-10">

    <h2 class="text-3xl font-bold mb-6">

        Registered Users

    </h2>

    <div id="usersContainer" class="space-y-4">

    </div>

</div>

<script src="/static/js/admin.js"></script>

</div>

</body>

</html>